*{
  box-sizing: border-box;
}
.wrapper{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border:5px solid black;
  min-height: 500px;
  width: 50%;
  margin: 5% auto;
  box-shadow: 2px 2px 30px 5px rgb(164, 231, 228);
  background: #009688;
}
#input_text{
  border: 1px solid blue;
  padding: 5px 20px;
  background: transparent;
  border-radius: 5px;
  outline: none;
}
.add{
  background: transparent;
  border:2px solid blue;
  font-weight: bold;
  padding: 5px 35px;
  cursor: pointer;
  outline: none;
  text-transform: uppercase;
  margin:5px ;
}
.add:hover{
  border:2px solid blue;
  color: blue;
  background: black;
}
.list-container{
  background: gray;
  text-align: center;
  margin-right: 45px;
  padding: 5px 10px;
  margin-bottom: 5px;
}

li{
  list-style: none;
  display: inline-block;
  margin: 10px;
}
.remove{
  background: transparent;
  border:2px solid blue;
  font-weight: bold;
  padding: 5px 10px;
  cursor: pointer;
  outline: none;
}