*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --darkMagneta-color:darkmagenta;
  --white-color: rgb(243, 242, 239);
}
.wrapper{
  width: 35%;
  margin: 50px auto;
  background: var(--white-color);
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
}
.center form{
    border-radius: 5px;
    margin: auto;
    padding: 10px 0px; 
    display: flex; 
    justify-content: center;
     align-items: center;
}
h1{
    color:var(--white-color);
    background-color: var(--darkMagneta-color);
    padding: 10px;
    text-align: center;
    font-size: 40px;
    margin: 20px auto;
    text-transform: uppercase;
    margin-top: 0px;
}
input{
  height: 32px;
  border-radius: 5px;
  border: 1px solid var(--darkMagneta-color);
  outline: none;
  margin: auto;
  padding: 5px;
}
input:focus{
  background: var(--white-color);
}
.add{
  align-self: center;
  width: 40px;
  font-size: 25px;
  margin: 20px;
  cursor: pointer;
  color: var(--darkMagneta-color);
  font-weight: bold;
  background: transparent;
  border: 1px solid var(--darkMagneta-color);
  outline: none;
  border-radius: 5px;
}
.add:hover{
  background:var(--darkMagneta-color);
  color: var(--white-color);
}
.list-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
table{
  display: block;
}
tr{
  display: flex;
  justify-content: space-between;
    align-items: center;
    background: #92a3ab;
    padding: 10px;
    width: 200px;
    margin-bottom: 5px;
}
.remove{
  align-self: center;
  cursor: pointer;
  color: var(--darkMagneta-color);
  font-weight: bold;
  border: none;
  background: transparent;
  font-size: 20px;
}
@media screen and (max-width: 800px){
  .wrapper{
    width: 45%;
    margin: 50px auto;
   
    border: 1px solid rgb(32, 32, 32);
  }
  h1{
    margin-top: 0px;
  }
  .center form{
    border-radius: 5px;
    margin: auto;
    padding: 10px 0px; 
    display: flex; 
    justify-content: center;
     align-items: center;
}
input{
  height: 30px;
  border-radius: 5px;
  border: 1px solid var(--darkMagneta-color);
  outline: none;
  margin-left: 5px;
  padding: 5px;
  width: 100%;
}
  .remove{
    cursor: pointer;
  }
}

@media screen and (max-width: 450px){
  .wrapper{
    
    width: 55%;
    margin: 50px auto;
     border: 1px solid rgb(32, 32, 32);
     box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.3);
  }
  h1{
      color: var(--white-color);
      background-color:var(--darkMagneta-color);
      padding: 10px;
      text-align: center;
      font-size: 20px;
      margin-top: 0px;
      text-transform: uppercase;
  }
  .center form{
    border-radius: 5px;
    margin: auto;
    padding: 10px 0px; 
    display: flex; 
    justify-content: center;
     align-items: center;
}
input{
  height: 30px;
  border-radius: 5px;
  border: 1px solid var(--darkMagneta-color);
  outline: none;
  margin-left: 5px;
  padding: 5px;
  width: 100%;
}

.add{
    width: 50px;
    font-size: 25px;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    color: var(--darkMagneta-color);
    font-weight: bold;
}
.remove{ 
    cursor: pointer;
}
}
