*{
  box-sizing: border-box;
}
.wrapper{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border:5px solid black;
  min-height: 500px;
  width: 50%;
  margin: 5% auto;
  box-shadow: 2px 2px 10px 14px gray;
}
#input_text{
  border: 1px solid blue;
  padding: 5px 20px;
  background: transparent;
  border-radius: 5px 40px;
  outline: none;
}
.add{
  background: transparent;
  border:2px solid blue;
  font-weight: bold;
  padding: 5px 35px;
  cursor: pointer;
  outline: none;
  text-transform: uppercase;
}
.add:hover{
  border:2px solid blue;
  color: blue;
  background: black;
}
li{
  list-style: none;
  display: inline-block;
  margin: 10px;
}
.remove{
  background: transparent;
  border:2px solid blue;
  font-weight: bold;
  padding: 5px 10px;
  cursor: pointer;
  outline: none;
}